/* *[data-dash-is-loading="true"]{
    visibility: hidden;
} */

*[data-dash-is-loading="true"]::before{
    content: "FT will take long time, please be patient ...";
    display: inline-block;
    color: megenta;
    visibility: visible;
}