/* *[data-dash-is-loading="true"]{
    visibility: hidden;
} */

*[data-dash-is-loading="true"]::before{
    content: "The system is in operation, please be patient ...";
    display: inline-block;
    color: megenta;
    visibility: visible;
}